[submodule "backend"]
    path = backend
    url = https://github.com/org-escritorio-adv/backend.git
    branch = main
[submodule "frontend"]
    path = frontend
    url = https://github.com/org-escritorio-adv/frontend.git
    branch = main